/*
 * COLORS
 */
$white: #FFF;
$light-gray: #9d9d9d;
$dark-gray: #222;
$light-blue: #2aabd2;

/*
 * UNITS OF MEASURE
 */
$default-spacing: 15px;
$double-spacing: $default-spacing * 2;
$half-spacing: $default-spacing / 2;
