#events {
  > #event-heading {
    margin-bottom: $default-spacing;

    #tag-list {
      > div {
        margin-top: $half-spacing;
      }
      a.badge {

        &:hover {
          box-shadow: 0 0 1px 1px $light-blue;
        }

        &.active {
          background-color: $light-blue;
        }
      }
    }
  }
}
